/*****************
  Basic framing 
*****************/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #eee8d5;
  /* height: 100vh; */
}

.site-header {
  width: 74vw;
  margin: 0 auto;
}
.site-title {
  margin-left: 2vw;
}

/* .main { */
/* width: 80vw; */
/* align-items: center; */
/* font-family: "EB Garamond", serif; */
/* font-size: 1.5rem; */
/* margin: 5vh auto; */
/* } */

.content {
  width: 70vw;
  margin: 0 auto;
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 10vh; */
  height: 100%;
}

.site-divider {
  height: 0.05rem;
  background-color: black;
  width: 75vw;
  /* margin: 1vh 0; */
  margin: 0;
}

.left {
  /* display: flex;
  flex: 1 0 auto; */
  /* width: 100px; */
}

.right {
  flex-basis: 60%;
  /* overflow-y: scroll;
  height: 100%; */
  /* overflow: hidden; */
  /* flex-grow: 1; */
  position: relative;
}

.inner-right {
  height: 14vh;
  padding-top: 40vh;
  /* padding-bottom: 120px; */
  padding-bottom: 10vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

/*******************
  Elements styling
********************/
h1,
h2,
h3,
h4 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.site-title {
  /* width: 30vw; */
  /* line-height: 82px; */
  font-size: 4rem;
  font-family: "Bungee Shade", cursive;
  font-weight: 400;
  margin-top: 120px;
  margin-bottom: 2vh;
}
.site-subtitle {
  /* width: 30vw; */
  font-size: 1.9rem;
  font-weight: 100;
  font-family: "Bungee", cursive;

  margin-bottom: 10vh;
  margin-top: 2vh;
}

.social-menu {
  height: auto;
  position: absolute;
  top: 78vh;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-menu > li {
  padding-top: 5px;
}

.social-menu > i {
  text-align: center;
}

.down-pointer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.section-title {
  margin-top: 4vh;
  margin-bottom: 1vh;
  font-size: 1rem;
  font-weight: 100;
  font-family: "Bungee", cursive;
}

/* Make Philosophy section start below viewport */
article:nth-child(2) {
  margin-top: 10vh;
}

a {
  color: #268bd2;
  text-decoration: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.timeline > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
}

.year {
  padding-left: 10px;
  padding-top: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content:last baseline;
  min-width: fit-content;
}

.year i {
  size: 0.1rem;
  padding-right: 5px;
  padding-top: 2px;
  display: flex;
  align-items: center;
}
