body {
  height: 100vh !important;
  /* The Color settings */
  color: #789E92;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  background-color: #282223;
}

/* All headers */
/* Page titles */
/* Post titles */
/* Sub titles */
header {
  font-family: 'Sofia', cursive;
  color: #F7F8EA!important;
  margin: 0;
  padding: 0;
}

footer {
  padding-bottom: 10px;
}


/*****************************/
/* Component specific stylings */
/*****************************/
/**********/
/* GLOBAL */
/*********/

/* Site-wide links */
a {
  color: #AE9B87;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: transparent 2px dotted;
}
a:hover, a:active {
  color: #DAC9AD;
  text-decoration: none;
  border-bottom: #789E92 2px dotted;
}

 /* a:hover, .nav-link a:active {
  
} */

/*************/
/* LEFT BLOCK */
/*************/
.left-block a, .left-block a:hover {
  text-decoration: none;
  border: none;
}
/* For my name on the left side */
#name h1 {
  font-size: 5em!important;
  text-align: right;
  padding: 0;
  margin: 0;
}
/* Social menu icons under the name */
#social-menu a {
  padding: 1.5rem .5rem;
  color: #AE9B87;
  font-size: 2.5rem;
}
/* Social menu icons under the name when hovered */
#social-menu a:hover {
  color: #DAC9AD;
  border-bottom: none !important;
}

/**************/
/* RIGHT BLOCK */
/**************/

/* Home page specific */
#tags {
  font-size: 2.5em;
}


/*********/
/* Footer */
/*********/
footer {
  padding: .2rem;
}
footer nav .nav-link {
  padding: 0 0;
}

footer nav .nav-item {
  padding: .5rem 1rem;
}

/*
Media Queries
*/

@media (max-width: 719px) { 
  body {
    /* height: 100%!important; */
    min-height: 800px;
    padding-top: 100px;

  }
  header {
    font-size: .5rem;
    padding: 0.5rem 0;
  }
  footer {
    background-color: #282223;
    /* background-color: rgba(40,34,35,.5); */
    border-top: #AE9B87 2px dotted;
}

  #social-menu a {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  #tags {
    font-size: 1.5rem;
  }
  .right-block {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    text-align: justify;
    overflow: scroll;
  }
}

 @media (min-width: 720px) {
  .left-block {
    padding-right: 50px;
  }

  .right-block {
    padding-left: 50px;
    padding-right: 10vw;
        /* padding-right: 250px; */
  }
 }