body {
  height: 100vh !important;
  /* The Color settings */
  font-family: 'Merriweather', serif;
  background-color: #282223;
}

/* All headers */
/* Page titles */
/* Post titles */
/* Sub titles */
header {
  font-family: 'Sofia', cursive;
  /* font-weight: 100; */
  color: #F7F8EA;
  margin: 0;
  padding: 0;
}

footer {
  padding-bottom: 10px;
}


/*****************************/
/* Component specific stylings */
/*****************************/
/**********/
/* GLOBAL */
/*********/

/* Site-wide links */
a {
  color: #AE9B87;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: transparent 2px dotted;

}
a:hover, a:active {
  color: #DAC9AD;
  border-bottom: #789E92 2px dotted;
}

 /* a:hover, .nav-link a:active {
  
} */

/*************/
/* LEFT BLOCK */
/*************/
/* For my name on the left side */
#name h1 {
  font-size: 5em!important;
  text-align: right;
  padding: 0;
  margin: 0;
}
/* Social menu icons under the name */
#social-menu a {
  padding: 1.5rem .5rem;
  color: #AE9B87;
  font-size: 2.5rem;
}
/* Social menu icons under the name when hovered */
#social-menu a:hover {
  color: #DAC9AD;
  border-bottom: none !important;
}

/**************/
/* RIGHT BLOCK */
/**************/
/* Home page specific */
#tags {
  color: #789E92;
  font-size: 2.5em;
}


/*********/
/* Footer */
/*********/
footer {
  margin-top: 1.5rem;
}
footer nav .nav-link {
  padding: 0 0;
}

footer nav .nav-item {
  padding: .5rem 1rem;
}

/*
Media Queries

@media (max-width: 768px) { 
  body {
    height: 100%!important;
  }

  header {
    font-size: .5em;
    align-items: flex-start;
  }
  #tags {
    font-size: 1em;
  }
 }
*/
