{{ define "main" }}
<div class="main">
  {{ partial "site-header.html" . }}
  
  <section class="content">
    {{ partial "left-column.html" (dict "subtitle" .Site.Params.home_subtitle "Site" .Site) }}
    
    <section class="right">
      <section class="inner-right">
        <article>
          <section>
            {{ .Content }}
            <br/><div class="down-pointer"><i class="fa fa-sm fa-arrow-down"></i></div>
          </section>
        </article>
        
        <article>
          <header>
            <h4 class="section-title">Philosophy</h4>
          </header>
          <section>
            {{ .Site.Data.about.philosophy }}
          </section>
        </article>
        
        <article>
          <header>
            <h4 class="section-title">Timeline</h4>
          </header>
          <section class="timeline">
            {{ range .Site.Data.timeline }}
            <div>
              <span class="activity">{{ .activity }}</span>
              <span class="year"><i class="fa fa-sm fa-arrow-right"></i> {{ .year }}</span>
            </div>
            {{ end }}
          </section>
        </article>
        
        <article>
          <header>
            <h4 class="section-title">About</h4>
          </header>
          <section>{{ .Site.Data.about.bio }}</section>
        </article>
      </section>
    </section>
  </section>
</div>
{{ end }}
