{{ define "main" }}
<div class="main">
  {{ partial "site-header.html" . }}
  
  <section class="content">
    {{ partial "left-column.html" (dict "subtitle" .Site.Params.blog_subtitle "Site" .Site) }}
    
    <section class="right">
      <section class="inner-right blog-content">
        <h4 class="section-title" style="margin-top: 0;">Blog Posts</h4>
        <section class="timeline">
          {{ range .Pages }}
          <div>
            <span class="activity">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </span>
            <span class="year">{{ .Date.Format "2006" }}</span>
          </div>
          {{ end }}
        </section>
      </section>
    </section>
  </section>
</div>
{{ end }}
