{{ define "main" }}
<div class="main">
  {{ partial "site-header.html" . }}
  
  <section class="content">
    {{ partial "left-column.html" (dict "subtitle" .Site.Params.post_subtitle "Site" .Site) }}
    
    <section class="right">
      <section class="inner-right blog-content">
        <h4 class="section-title">{{ .Title }}</h4>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        <section>
          {{ .Content }}
        </section>
      </section>
    </section>
  </section>
</div>
{{ end }}
