---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# robots.txt for {{ config.domain }}

# Allow all crawlers
User-agent: *
Allow: /

# Sitemap location
Sitemap: {{ config.url }}/sitemap.xml
