---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# robots.txt for {{ site.url | replace("https://", "") | replace("http://", "") }}

# Allow all crawlers
User-agent: *
Allow: /

# Sitemap location
Sitemap: {{ site.url }}/sitemap.xml
